dist
node_modules
.npmrc
src/.wand
src/packages
dependencies/spells/workspace/xyz
dependencies/spells/workspace/wand
dependencies/spells/workspace/wand
dependencies/spells/workspace/wand
dependencies/spells/workspace/wand
dependencies/spells/workspace/wand
dependencies/spells/workspace/wand
dependencies/spells/workspace/wand
dependencies/spells/workspace/wand
dependencies/spells/workspace/wand
dependencies/spells/workspace/wand
dependencies/spells/workspace/wand
dependencies/spells/workspace/wand